.answer-tile {
  height: 60px;
  width: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
}

.answer-tile__alphabet {
  font-weight: bold;
}

.answer-tile__number {
  font-size: 12px;
  color: #232F34;
  position: absolute;
  bottom: 0;
  right: 4px;
}