/* You can add global styles to this file, and also import other style files */
body {
  background-color: #FFFDE7;
}

/* css for card */
.mdc-card {
  margin-top: 16px;
}

.mdc-card-content {
  padding: 16px;
  text-align: center;
}

.mdc-card__title {
  font-size: 21px;
  font-weight: bold;
  color: #232F34;
  margin-bottom: 8px;
}

.mdc-card__body {
  font-size: 17px;
  color: #232F34;
}

.left-align {
  text-align: left;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.top-bar {
  height: 70px;
  background-color: #FFF59D;
}

.title {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  font-family: 'Perfectly Together', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #FF6D00;
}

/* css for countdown */
#countdown {
  position: relative;
  height: 50px;
  width: 50px;
  text-align: center;
}

#countdown-number {
  color: #F57F17;
  display: inline-block;
  line-height: 50px;
  font-weight: bold;
  font-size: 20px;
}

svg {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 50px;
  height: 50px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #F57F17;
  fill: none;
  animation: countdown 10s linear infinite forwards;
}